<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ثبت نام</title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.ico"
    />
    <!-- jquery-3 -->
    <script type="module" src="jquery-3.6.0.min.js"></script>
    <!-- CSS only Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- font link from google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Vazirmatn:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="login-register.css" />
    <link rel="stylesheet" href="font-awesome.min.css" />

    <!-- javascript -->
    <script src="script.js" defer></script>
  </head>
  <body>
    <header class="container header">
      <div class="header-right-container">
        <img src="assets/img/logo/logo.svg" alt="Haraj Logo" />
      </div>

      <div class="header-left-container">
        <a style="color: #4c6d92" class="disable-link">حراج‌های فعال</a>
        <a style="color: #4c6d92" class="disable-link">تاریخچه</a>
        <a href="/login">ورود</a>
        <a href="/">خانه</a>
      </div>
    </header>

    <section class="login-container">
      <h1 style="background-color: #709bcd69; border-radius: 5px">ثبت نام</h1>
      <form action="/register" method="POST" autocomplete="off">
        <% regErrors.forEach(function(message){ %>
        <div class="alert alert-danger border border-danger small p-1">
          <%=message%>
        </div>
        <% }) %>
        <h1>نام کاربری:</h1>
        <input
          class="lowercase"
          name="username"
          type="text"
          placeholder="نام کاربری"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'نام کاربری'"
          autocomplete="off"
          autocapitalize="off"
        />
        <h1>ایمیل:</h1>
        <input
          class="lowercase"
          name="email"
          type="text"
          placeholder="ایمیل"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'ایمیل'"
          autocapitalize="off"
          autocomplete="off"
        />
        <h1>کلمه عبور:</h1>
        <input
          name="password"
          type="password"
          placeholder="کلمه عبور"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'کلمه عبور'"
          autocomplete="off"
        />
        <br />

        <button type="submit">ثبت نام</button>
      </form>
      <p>
        آیا قبلا ثبت نام کرده اید؟
        <a href="/login">ورود</a>
      </p>
    </section>
  </body>
  <footer class="footer">انتهای صفحه</footer>
</html>
